{{#if sprogmakker}}
<center>
    <h1 class="loggedInHeading">Billedordbog</h1>
    <p class="loggedInText">Da du er logget ind som sprogmakker, har du ikke en billedordbog.</p>
</center>

{{else}}
<center>
    <h1 class="loggedInHeading">Billedordbog</h1>
    <p class="loggedInText">Her kan du tage billeder og tilføje til din ordbog. Efterfølgende kan du tilføje tekst til
        dit billede.</p>
</center>

<div class="col-md-5 m-auto">
    <form>
        <input type="text" name="search" placeholder="Søg..." class="form-control" id="myInput">
    </form>
</div>
<br>
<div id="tilføjBillede">
    <p>Tilføj billede til billedordbogen</p>
</div>
<p>{{uniqueId}}</p>
<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <form action="/billedbog/upload" method="POST" enctype="multipart/form-data">
                <div class="custom-file mb-3">
                    Capture Image: <input type="file" accept="image/*" id="capture" capture="camera" name="file" class="custom-file-input">
                    <label for="file" class="custom-file-label">Vælg billedfil</label>
                </div>
                <input type="submit" value="Tilføj valgte billede" class="btn btn-success btn-block">
            </form>
            <hr>
            <div id="billedeListe">

                {{#if files}}
                {{#each files}}   
                <div id="billedObj" class="card card-body mb-3">
                    <!-- Display billede -->
                    {{metadata}}
                    <img src="billedbog/image/{{filename}}" alt="DB BILLEDE HER TAK">
                    <br>
                    <!-- Display tekst tilknyttet til billede -->
                    <blockquote class="blockquote text-center">
                        <h6>
                            <p id="bDescrip"class="text-muted">{{billedDescription}}</p>
                        </h6>
                    </blockquote>
                    <table class="table">
                        <tr>
                            <div class="card-group">
                                <!-- Tilføj tekst til billede -->
                                <div class="card card-body mb-1">
                                    <form method="POST" action="/billedbog/files/{{filename}}">
                                        <input type="text" name="billedDescription" class="form-control center_div"
                                            placeholder="Tryk her for at tilføje / ændre din beskrivelse">
                                        </input><br>
                                        <input type="submit" value="Tilføj beskrivelse" class="btn btn-success btn-block">
                                    </form>
                                </div>

                                <!--LYD-->
                                <div class="card card-body mb-1">
                                    <form action="/lydbog/audioupload2" method="POST" enctype="multipart/form-data">
                                        <div class="custom-file mb-3">
                                            Optag video: <input type="file" accept="audio/*" id="capture" capture="audio"
                                                name="file" class="custom-file-input">
                                            <label for="file" class="custom-file-label">Vælg lydfil</label>
                                        </div>
                                        <input type="submit" value="Tilføj audio" class="btn btn-primary btn-block">
                                    </form>
                                </div>
                            </div>
                            
                            {{#if ../audiofiles}}
                            {{#each ../audiofiles}}
                            <div class="card card-body mb-3">
                                <audio controls>
                                    <source src="billedbog/audio/{{filename}}" type="audio/mp4">Din browser
                                    understøtter ikke denne filtype!</audio>
                                <form method="PUT" action="/billedbog/audio/{{_id}}.mp4?_method=PUT"></form>
                                <form method="POST" action="/billedbog/audiofiles/{{_id}}?_method=DELETE">
                                    <button class="btn btn-danger btn-block mt-4">Slet lyd</button>
                                </form>

                            </div>
                            {{/each}}
                            {{/if}}
                        </tr>
                    </table>
                    <!-- Slet video -->
                    <form method="POST" action="/billedbog/files/{{_id}}?_method=DELETE">
                        <button class="btn btn-danger btn-block mt-4">Slet billede</button>
                    </form>
                </div>
                {{/each}}
                {{/if}}

            </div>
        </div>
    </div>
</div>
{{/if}}

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#billedObj").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>