{{#if sprogmakker}}
<center>
    <h1 class="loggedInHeading">Billedordbog</h1>
    <p class="loggedInText">Da du er logget ind som sprogmakker, har du ikke en billedordbog.</p>
</center>

{{else}}
<center>
    <h1 class="loggedInHeading">Billedordbog</h1>
    <p class="loggedInText">Her kan du tage billeder og tilføje til din ordbog. Efterfølgende kan du tilføje tekst til
        dit billede.</p>
</center>
<div class="col-md-5 m-auto">
    <form>
        <input type="text" name="search" placeholder="Søg..." class="form-control" id="myInput">
    </form>
</div>
<br>
<div id="tilføjBillede">
    <p>Tilføj billede til billedordbogen</p>
</div>

<!-- Sætter et usynligt tag på siden, som har brugerens unikke id som værdi.
    Dette bliver brugt til at vise de billeder som passer til id'et. -->
<input style="display:none" type="text" id="uniqueIDS" value={{uniqueId}}></input>

<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <form action="/billedbog/upload" method="POST" enctype="multipart/form-data">
                <div class="custom-file mb-3">
                    Capture Image: <input type="file" accept="image/*" id="capture" capture="camera" name="file" class="custom-file-input">
                    <label for="file" class="custom-file-label">Vælg billedfil</label>
                </div>
                <input type="submit" value="Tilføj valgte billede" class="btn btn-success btn-block">
            </form>
            <hr>
            <div id="billedeListe">
                
                {{#if files}}
                {{#each files}}
                <div class={{metadata}} style="display:none">
                    <!--Usynligt tag, som har billedets metadata.-->
                    <div id="billedeObj" class="card card-body mb-3">
                        <!-- Display billede -->
                        <p style="display:none" id="mdata">{{metadata}}</p>
                        <img src="billedbog/image/{{filename}}" alt="Billede">
                        <!-- Display tekst tilknyttet til billede -->
                        <blockquote class="blockquote text-center">
                            <br>
                            <h6>
                                <p id="bDescrip" class="text-muted">{{billedDescription}}</p>
                            </h6>
                        </blockquote>
                        <table class="table">
                            <tr>
                                <div class="card-group">
                                    <!-- Tilføj tekst til billede -->
                                    <div class="card card-body mb-1">
                                        <form method="POST" action="/billedbog/files/{{filename}}">
                                            <input type="text" name="billedDescription" class="form-control center_div"
                                                placeholder="Tryk her for at tilføje / ændre din beskrivelse">
                                            <br>
                                            <input type="submit" value="Tilføj beskrivelse" class="btn btn-success btn-block">
                                        </form>
                                    </div>
                            </tr>
                            <!-- Slet video -->
                            <form method="POST" action="/billedbog/files/{{_id}}?_method=DELETE">
                                <button class="btn btn-danger btn-block mt-4">Slet billede</button>
                            </form>
                        </table>

                    </div>
                </div>
                {{/each}}
                {{/if}}

            </div>
        </div>
    </div>
</div>
{{/if}}

<script>
    /*
        jQuery-filter som vil vise alle de div-tags, der har klasse-værdien fra idValue, hvilket 
        har brugerens unikke id som værdi. Det vil sige hvis den givende div har klassen: qksas0zzk8,
        og idValue og er qksas0zzk8 så vil div'en blive vist.
    */
    $(document).ready(function () {
        var idValue = $("#uniqueIDS").val();
        $("div").filter("." + idValue).css("display", "block");
    });

    /*
        Søgefunktionen:
        Henter værdien fra #myInput, hvilket er søge-feltet og sætter alt til Lower Case,
        hvilket betyder at jhon, Jhon og JHON vil give de samme resultater.
        Her kigger funktionen efter billed-objekterne i billedlisten og matcher værdierne.
        Den kigger dog efter alt i div'en, hvilket inkluderer tilføj beskrivelse knappen og 
        slet billede knappen.
    */
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#billedeListe #billedeObj").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>