<div style="text-align:center;">
    <h1 class="loggedInHeading">Forbind til kursist</h1>
    <p class="loggedInText">

        {{#if sprogmakker}}
        <script>
            $(document).ready(function(e) {
                $('#connecter').hide();
                $('form').submit(function() {
                    $('#connecter').show();
                    confirm("Hvis ID-nummeret findes, er du nu blevet forbundet til kursisten. Tjek listen nederst på siden.");
                    e.preventDefault();
                });
            });
        </script>
        Du er registreret som sprogmakker og har derfor mulighed for at forbinde til kursister.
        <br>
        Bed kursisten om at oplyse sit unikke ID-nummer og indtast det herunder. Det unikke ID-nummer kan findes på forsiden af kursistens profil.
        <br>
        <div style="margin-left:25px; margin-right:25px;">
            <form id="connectForm" action='/connectId/uploadID' method="post">
                <input class="form-control" type="text" name="kursistID" placeholder="ID-nummer" required="" id="connectIdNo" pattern="[A-Za-z0-9_]{10,11}">
                <input class="btn btn-lg btn-primary btn-block" style="margin-top:10px;" type="submit" value="FORBIND KURSIST">
            </form>
        </div>
        <br>
        <div id="connecter">Vent venligst...</div>
        <table class="tilknyttetKursistTable" align="center">
            <div id="noneConnected">Du har i øjeblikket <b>ingen</b> tilknyttede kursister.</div>

            {{#if antalTilknyttedeKursister1}}
            <script>$('#noneConnected').hide();</script>
            <tr>
                <th colspan="6">Tilknyttede kursister</th>
            </tr>
            <tr>
                <th colspan="1" class="tableHeading2">Navn</th>
                <th colspan="1" class="tableHeading2">Unikt ID</th>
                <th colspan="1" class="tableHeading2">Chat</th>
                <th colspan="3" class="tableHeading2">Personlige ordbøger</th>
            </tr>
            <tr>
                <td>{{obj1.users.username}}</td>
                <td>{{tilknyttetKursistID1}}</td>
                <td><a href="underUdvikling.html">Start chat</a></td>
                <td><a href="underUdvikling.html">Billedordbog</a></td>
                <td><a href="underUdvikling.html">Videoordbog</a></td>
                <td><a href="underUdvikling.html">Lydordbog</a></td>
            </tr>

            {{#if antalTilknyttedeKursister2}}
            <tr>
                <td>{{obj2.users.username}}</td>
                <td>{{tilknyttetKursistID2}}</td>
                <td><a href="underUdvikling.html">Start chat</a></td>
                <td><a href="underUdvikling.html">Billedordbog</a></td>
                <td><a href="underUdvikling.html">Videoordbog</a></td>
                <td><a href="underUdvikling.html">Lydordbog</a></td>
            </tr>

            {{#if antalTilknyttedeKursister3}}
            <tr>
                <td>{{obj3.users.username}}</td>
                <td>{{tilknyttetKursistID3}}</td>
                <td><a href="underUdvikling.html">Start chat</a></td>
                <td><a href="underUdvikling.html">Billedordbog</a></td>
                <td><a href="underUdvikling.html">Videoordbog</a></td>
                <td><a href="underUdvikling.html">Lydordbog</a></td>
            </tr>

            {{#if antalTilknyttedeKursister4}}
            <tr>
                <td>{{obj4.users.username}}</td>
                <td>{{tilknyttetKursistID4}}</td>
                <td><a href="underUdvikling.html">Start chat</a></td>
                <td><a href="underUdvikling.html">Billedordbog</a></td>
                <td><a href="underUdvikling.html">Videoordbog</a></td>
                <td><a href="underUdvikling.html">Lydordbog</a></td>
            </tr>

            {{#if antalTilknyttedeKursister5}}
            <tr>
                <td>{{obj5.users.username}}</td>
                <td>{{tilknyttetKursistID5}}</td>
                <td><a href="underUdvikling.html">Start chat</a></td>
                <td><a href="underUdvikling.html">Billedordbog</a></td>
                <td><a href="underUdvikling.html">Videoordbog</a></td>
                <td><a href="underUdvikling.html">Lydordbog</a></td>
            </tr>
            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
        </table>
        
        {{else}}
        Du er ikke registreret som sprogmakker og kan derfor heller ikke forbinde til kursister.
        {{/if}}
    </p>
</div>