<!-- Hvis du er logget ind som sprogmakker, kan du ikke se nogen lydordbog -->
{{#if sprogmakker}}
<center>
    <h1 class="loggedInHeading">Lydordbog</h1>
    <p class="loggedInText">Da du er logget ind som sprogmakker, har du ikke en lydordbog.</p>
    <p class="loggedInText"><li><a href="connectId">Se dine tilknyttede kursisters ordbøger</a>.</li></p>
</center>

<!-- Kursist og admin kan se sin personlige lydordbog -->
{{else}}
<center>
    <h1 class="loggedInHeading">Lydordbog</h1>
    <p class="loggedInText">Her kan du optage lyd og tilføje til din ordbog. Efterfølgende kan du tilføje tekst til lyden.</p>
</center>

<div class="col-md-5 m-auto">
    <form>
        <input type="search" name="search" placeholder="Søg efter lyd..." id="myInput">
    </form>
</div>
<br>
<div id="tilføjLyd">
    <p>Tilføj lyd til lydoordbogen</p>
</div>

<!-- Sætter et usynligt tag på siden, som har brugerens unikke id som værdi.
    Dette bliver brugt til at vise de lyde som passer til id'et. -->
<input style="display:none" type="text" id="uniqueIDS" value={{uniqueId}}></input>

<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <form action="/lydbog/audioupload" method="POST" enctype="multipart/form-data">
                <div class="custom-file mb-3">
                    Optag lyd: <input type="file" accept="audio/*" id="capture" capture="audio" name="file" class="custom-file-input">
                    <label for="file" class="custom-file-label">Vælg lydfil</label>
                </div>
                <input type="submit" value="Tilføj valgte lyd" class="btn btn-success btn-block">
            </form>
            <hr>
            <div id="lydListe">

                {{#if audiofiles}}
                {{#each audiofiles}}
                <div class={{metadata}} style="display:none">
                    <!-- Usynligt tag, som har lydens metadata -->
                    <div id="lydObj" class="card card-body mb-3">
                        <!-- Display lyd (med controls) -->
                        <p style="display:none" id="mdata">{{metadata}}</p>
                        <center>
                            <audio controls>
                                <source src="lydbog/audio/{{filename}}" type="audio/mp4">Din browser understøtter ikke denne filtype!</audio>
                        </center>
                        <!-- Display tekst tilknyttet til lyd -->
                        <blockquote class="blockquote text-center">
                            <br>
                            <h6>
                                <p class="text-muted">{{audioDescription}}</p>
                            </h6>
                        </blockquote>
                        <!-- Tilføj tekst til lyd -->
                        <div class="card card-body mb-1">
                            <form method="POST" action="/lydbog/files/{{filename}}">
                                <input type="text" name="audioDescription" class="form-control center_div" placeholder="Tilføj eller ændre beskrivelse...">
                                <br>
                                <input type="submit" value="Tilføj beskrivelse" class="btn btn-success btn-block">
                            </form>
                        </div>
                        <!-- Slet lyd -->
                        <form method="POST" action="/lydbog/files/{{_id}}?_method=DELETE">
                            <button class="btn btn-danger btn-block mt-4">Slet lyd</button>
                        </form>
                    </div>
                </div>

                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    {{/if}}

    <script>
        /*
            jQuery-filter som vil vise alle de div-tags, der har klasse-værdien fra idValue, hvilket 
            har brugerens unikke id som værdi. Det vil sige hvis den givende div har klassen: qksas0zzk8,
            og idValue og er qksas0zzk8 så vil div'en blive vist.
        */
        $(document).ready(function () {
            var idValue = $("#uniqueIDS").val();
            $("div").filter("." + idValue).css("display", "block");
        });

        /*
            Søgefunktionen:
            Henter værdien fra #myInput, hvilket er søge-feltet og sætter alt til Lower Case,
            hvilket betyder at jhon, Jhon og JHON vil give de samme resultater.
            Her kigger funktionen efter lyd-objekterne i lydlisten og matcher værdierne.
        */
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#lydListe #lydObj").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>