<div style="text-align:center;">
    <h2 class="loggedInHeading">Velkommen {{name}}</h2>
    <p class="loggedInText">
        Din registrerede rolle er: <b>{{role}}</b><br>
        Dit unikke ID nummer er: <b>{{uniqueId}}</b><br>
        {{#if sprogmakker}}
        <h4 class="loggedInHeading">Vælg herunder:</h4>
        <div class="flex-container">
            <div id="item1"><a href='connectId'><i class="fas fa-plug" id="connectId" style="font-size:60px;"></i></a></div>
            <div id="item2"><a href='chat'><i class="fas fa-comment" id="chat" style="font-size:60px;"></i></a></div>
        </div>
        {{else if kursist}}
        <h4 class="loggedInHeading">Vælg herunder:</h4>
        <div class="flex-container">
            <div id="item1"><a href='billedbog'><i class="fas fa-image" id="billedbog" style="font-size:60px;"></i></a></div>
            <div id="item2"><a href='videobog'><i class="fas fa-video" id="videobog" style="font-size:60px;"></i></a></div>
        </div>
        <div class="flex-container">
            <div id="item3"><a href='lydbog'><i class="fas fa-volume-up" id="lydbog" style="font-size:60px;"></i></a></div>
            <div id="item4"><a href='chat'><i class="fas fa-comment" id="chat" style="font-size:60px;"></i></a></div>
        </div>
        <div class="flex-container">
            <div id="item5"><a href='support'><i class="fas fa-hands-helping" id="support" style="font-size:60px;"></i></a></div>
            <div id="item6"><a href='/'><i class="fas fa-none" id="none" style="font-size:60px;"></i></a></div>
        </div>
        {{else if admin}}
        <h2 class="loggedInHeading">Admin menu</h2>
        <a href="billedbog">Billedordbog</a><br>
        <a href="videobog">Videoordbog</a><br>
        <a href="lydbog">Lydordbog</a><br>
        <a href="chat">Chat</a><br>
        <a href="connectId">Forbind kursist</a>
        {{/if}}
    </p>
</div>
