{{#if sprogmakker}}
<center>
    <h1 class="loggedInHeading">Videoordbog</h1>
    <p class="loggedInText">Da du er logget ind som sprogmakker, har du ikke en videoordbog.</p>
</center>

{{else}}
<center>
    <h1 class="loggedInHeading">Videoordbog</h1>
    <p class="loggedInText">Her kan du optage video og tilføje til din ordbog. Efterfølgende kan du tilføje tekst til
        din video.</p>
</center>
<div class="col-md-5 m-auto">
    <form>
        <input type="text" name="search" placeholder="Søg..." class="form-control" id="myInput">
    </form>
</div>
<div id="tilføjBillede">
    <p>Tilføj video til videoordbogen</p>
</div>
<!--Sætter et usynligt tag på siden, som har brugerens unikke id som værdi.
    Dette bliver brugt til at vise de billeder som passer til id'et.-->
<input style="display:none" type="text" id="uniqueIDS" value={{uniqueId}}></input>

<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <form action="/videobog/videoupload" method="POST" enctype="multipart/form-data">
                <div class="custom-file mb-3">
                    Optag video: <input type="file" accept="video/*" id="capture" capture="camera" name="file" class="custom-file-input">
                    <label for="file" class="custom-file-label">Vælg videofil</label>
                </div>
                <input type="submit" value="Tilføj valgte video" class="btn btn-success btn-block">
            </form>
            <hr>
            <div id="videoListe">
                {{#if files}}
                {{#each files}}
                <div class={{metadata}} style="display:none">
                    <!--Usynligt tag, som har billedets metadata.-->

                    <div id="videoObj" class="card card-body mb-3">

                        <!-- Display video -->
                        <p style="display:none" id="mdata">{{metadata}}</p>

                        <video width="500" height="250" controls>
                            <source src="videobog/image/{{filename}}" type="video/mp4">Din browser understøtter ikke
                            denne
                            filtype!</video>
                        <br />
                        <!-- Display tekst tilknyttet til video -->
                        <blockquote class="blockquote text-center">
                            <h6>
                                <p class="text-muted">{{videoDescription}}</p>
                            </h6>
                        </blockquote>
                        <!-- Tilføj tekst til video -->
                        <form method="POST" action="/videobog/files/{{filename}}">
                            <input type="text" name="videoDescription" class="form-control center_div" placeholder="Tryk her for at tilføje / ændre din beskrivelse">
                            </input>
                            <input type="submit" value="Tilføj beskrivelse" class="btn btn-success btn-block">
                        </form>
                        <!-- Slet video -->
                        <form method="POST" action="/videobog/files/{{_id}}?_method=DELETE">
                            <button class="btn btn-danger btn-block mt-4">Slet video</button>
                        </form>
                    </div>
                </div>

                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    {{/if}}

    <script>
        /*JQuery-filter som vil vise alle de div-tags som har klasse-værdien fra idValue, hvilket 
        har brugerens unikke id som værdi. Det vil sige hvis den givende div har klassen: qksas0zzk8,
        og idValue og er qksas0zzk8 så vil div'en blive vist.*/
        $(document).ready(function () {
            var idValue = $("#uniqueIDS").val();
            $("div").filter("." + idValue).css("display", "block");
        });

        /*Søgefunktionen:
           Henter værdien fra #myInput, hvilket er søge-feltet og sætter alt til Lower Case,
           hvilket betyder at jhon, Jhon og JHON vil give de samme resultater.
           Her kigger funktionen efter billed-objekterne i billedlisten og matcher værdierne.
           Den kigger dog efter alt i div'en, hvilket inkluderer tilføj beskrivelse knappen og 
           slet billede knappen. 
           */
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#videoListe #videoObj").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>