<!-- Hvis du er logget ind som sprogmakker, kan du ikke se nogen videoordbog, men du ser derimod kursisters ordbøger -->
{{#if sprogmakker}}
<div style="text-align:center;">
    <h1 class="loggedInHeading">Videoordbog</h1>
    <p class="loggedInText">Da du er logget ind som sprogmakker, har du ikke en personlig videoordbog, men du kan tilgå dine tilknyttede kursisters videoordbog herunder.</p>
    <p class="loggedInText">
        <br>
        <table class="tilknyttetKursistTable" align="center">
            <div id="noneConnected">Du har i øjeblikket <b>ingen</b> tilknyttede kursister. <a href="connectId">Tilknyt nogle her.</a></div>

            <!-- Hvis du har 1 tilknyttet kursist -->
            {{#if antalTilknyttedeKursister1}}
            <script>$('#noneConnected').hide();</script>

            <p id="Tilknyttedekursisterp"><b>Tilknyttede kursister</b></p>
            <tr>
                <th class="tableHeading2">Navn</th>
                <th class="tableHeading2">Unikt ID</th>
                <th class="tableHeading2">Ordbog</th>
            </tr>
            <tr>
                <td>{{obj1.users.username}}</td>
                <td>{{tilknyttetKursistID1}}</td>
                <td><a href="underUdvikling.html">Se videoordbog</a></td>
            </tr>

            <!-- Hvis du har 2 tilknyttede kursister -->
            {{#if antalTilknyttedeKursister2}}
            <tr>
                <td>{{obj2.users.username}}</td>
                <td>{{tilknyttetKursistID2}}</td>
                <td><a href="underUdvikling.html">Se videoordbog</a></td>
            </tr>

            <!-- Hvis du har 3 tilknyttede kursister -->
            {{#if antalTilknyttedeKursister3}}
            <tr>
                <td>{{obj3.users.username}}</td>
                <td>{{tilknyttetKursistID3}}</td>
                <td><a href="underUdvikling.html">Se videoordbog</a></td>
            </tr>

            <!-- Hvis du har 4 tilknyttede kursister -->
            {{#if antalTilknyttedeKursister4}}
            <tr>
                <td>{{obj4.users.username}}</td>
                <td>{{tilknyttetKursistID4}}</td>
                <td><a href="underUdvikling.html">Se videoordbog</a></td>
            </tr>

            <!-- Hvis du har 5 tilknyttede kursister -->
            {{#if antalTilknyttedeKursister5}}
            <tr>
                <td>{{obj5.users.username}}</td>
                <td>{{tilknyttetKursistID5}}</td>
                <td><a href="underUdvikling.html">Se videoordbog</a></td>
            </tr>
            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
        </table>
    </p>
</div>

<!-- Kursist og admin kan se sin personlige videoordbog -->
{{else}}
<center>
    <h1 class="loggedInHeading">Videoordbog</h1>
    <p class="loggedInText">Her kan du optage video og tilføje til din ordbog. Efterfølgende kan du tilføje tekst til din video.</p>
</center>

<div class="col-md-5 m-auto">
    <form>
        <input type="search" name="search" placeholder="Søg efter video..." id="myInput">
    </form>
</div>
<br>
<div id="tilføjVideo">
    <p>Tilføj video til videoordbogen</p>
</div>

<!-- Sætter et usynligt tag på siden, som har brugerens unikke id som værdi.
    Dette bliver brugt til at vise de videoer som passer til id'et. -->
<input style="display:none" type="text" id="uniqueIDS" value={{uniqueId}}></input>

<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <!--Du tilføje den video som du har optaget -->
            <form action="/videobog/videoupload" method="POST" enctype="multipart/form-data">
                <div class="custom-file mb-3">
                    Optag video: <input type="file" accept="video/*" id="capture" capture="camera" name="file" class="custom-file-input">
                    <label for="file" class="custom-file-label">Vælg videofil</label>
                </div>
                <input type="submit" value="Tilføj valgte video" class="btn btn-success btn-block">
            </form>
            <hr>
            <div id="videoListe">

                {{#if files}}
                {{#each files}}
                <div class={{metadata}} style="display:none">
                    <!-- Usynligt tag, som har videoens metadata -->
                    <div id="videoObj" class="card card-body mb-3">
                        <!-- Display video -->
                        <p style="display:none" id="mdata">{{metadata}}</p>
                        <video height="250" controls>
                            <source src="videobog/video/{{filename}}">Din browser understøtter ikke denne filtype!
                        </video>
                        <!-- Display tekst tilknyttet til video -->
                        <blockquote class="blockquote text-center">
                            <br>
                            <h6>
                                <p class="text-muted">{{videoDescription}}</p>
                            </h6>
                        </blockquote>
                        <!-- Tilføj tekst til video -->
                        <div class="card card-body mb-1">
                            <form method="POST" action="/videobog/files/{{filename}}">
                                <input type="text" name="videoDescription" class="form-control center_div" placeholder="Tryk her for at tilføje / ændre din beskrivelse">
                                <br>
                                <input type="submit" value="Tilføj beskrivelse" class="btn btn-success btn-block">
                            </form>
                        </div>
                        <!-- Slet video -->
                        <form method="POST" action="/videobog/files/{{_id}}?_method=DELETE">
                            <button class="btn btn-danger btn-block mt-4">Slet video</button>
                        </form>
                    </div>
                </div>

                {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    {{/if}}

    <script>
        /*
            jQuery-filter som vil vise alle de div-tags, der har klasse-værdien fra idValue, hvilket 
            har brugerens unikke id som værdi. Det vil sige hvis den givende div har klassen: qksas0zzk8,
            og idValue og er qksas0zzk8 så vil div'en blive vist.
        */
        $(document).ready(function () {
            var idValue = $("#uniqueIDS").val();
            $("div").filter("." + idValue).css("display", "block");
        });

        /*
            Søgefunktionen:
            Henter værdien fra #myInput, hvilket er søge-feltet og sætter alt til Lower Case,
            hvilket betyder at jhon, Jhon og JHON vil give de samme resultater.
            Her kigger funktionen efter video-objekterne i videolisten og matcher værdierne.
        */
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#videoListe #videoObj").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>